@import 'config';
@import 'menu';
@import 'index';
@import 'about';
@import 'projects';
@import 'cv';
@import 'contact';
@import 'footer';
@import 'responsive';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: $primary-color;
  color: #000;
}